/* Tailwind CSS v4 Import */
@import "tailwindcss";

/* --- Template Styles --- */
@import './plugins.bundle.css';
@import './styles.bundle.css';
/* FORCE HIDE LOADER */
#loader, .loader, .preloader {
    display: none !important;
}
